/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/
@keyframes loading {
  from {
    transform: translateX(-14px);
  }
  to {
    transform: translateX(-10px);
  }
}

.core {
  fill: rgba(0 0 0 / 0);
  transition: fill 0.3s linear;
}

.main-body {
  fill: rgba(0 0 0 / 0);
  transition: fill 0.3s 0.05s linear;
}

.contour {
  fill: var(--color-contour, #000);
  transition: fill 0.3s 0.06s linear;
}

.card__icon-button:hover .like-icon .core{
  fill: var(--color-contour, #000);
  transition: fill 0.3s 0.03s linear;
}

.card__icon-button:hover .like-icon .main-body {
  fill: var(--color-contour, #000);
  transition: fill 0.3s linear;
}

.card__icon-button:active .like-icon .core{
  fill: var(--color-sparks, rgba(255 0 0 / 1));
  transition: fill 0.3s 0.03s linear;
}

.card__icon-button:active .like-icon .main-body {
  fill: var(--color-sparks, rgba(255 0 0 / 1));
  transition: fill 0.3s linear;
}

.card__icon-button .like-icon.is-liked .core {
  fill: var(--color-sparks, rgba(255 0 0 / 1));
}

.card__icon-button .like-icon.is-liked .main-body {
  fill: var(--color-sparks, rgba(255 0 0 / 1));
}

.card__icon-button .like-icon.is-liked .contour {
  fill: var(--color-sparks, rgba(255 0 0 / 1));
  transition: fill 0.1s linear;
}

@keyframes scale-heart {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.15);
  }
}

.card__icon-button .like-icon.is-liked .heart {
  animation: scale-heart 0.3s ease-in 0.1s alternate;
  transform-origin: center;
}

@keyframes color-sparks {
  from {
    fill: var(--color-sparks-off, rgba(255 0 0 / 0));
  }
  to {
    fill: var(--color-sparks, rgba(255 0 0 / 1));
  }
}

.card__icon-button .like-icon.is-liked .sparks {
  animation: color-sparks 0.3s ease-in 0.3s alternate;
}

