/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter", "Arial", sans-serif;
  --accent-font: "Press Start 2P", "Arial", fantasy;
  --min-font-weight: 400;
  --max-font-weight: 700;
  --bg-color: #fff;
  --accent-color: #000;
  --button-color: #fff;
  --color-contour: #000;
  --color-sparks: rgba(255 0 0 / 1);
  --color-sparks-off: rgba(255 0 0 / 0);
  --decoration: rgba(0 0 0 / 0.6);
  --bg-image: repeating-linear-gradient(90deg, #d3d3d3 0px 2px, rgb(211 211 211 / 0) 2px 4px),
      repeating-linear-gradient(#d3d3d3 0px 2px, rgb(211 211 211 / 0) 2px 4px),
      linear-gradient(#e7e7e7 0.01%, #1a1a1a 100%);
}